# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=mysql-mariadb-sea01-10-101.zap-hosting.com;uid=zap467568-2;password=LC0QsKssliU2y16p;database=zap467568-2"
set es_enableCustomData 1

# These resources will start by default.
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
#ensure scoreboard
ensure es_extended

ensure ft_libs
ensure instance
ensure cron

ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list
ensure esx_addons_gcphone
ensure gcphone
ensure cron
ensure skinchanger
ensure esx_skin
ensure fingerpoint
ensure loadscreens
ensure esx_identity
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_datastore
ensure trew_hud_ui
ensure esx_status
ensure esx_basicneeds
ensure mythic_ui
ensure esx_society
ensure esx_billing
#ensure systemutils
ensure mythic_notify
ensure esx_inventoryhud
ensure esx_inventoryhud_trunk
ensure esx_license
ensure esx_weaponshop
ensure MF_Stress
ensure st-hud
ensure esx_vehicleshop
ensure esx_ambulancejob
ensure esx_ruskiarrest
ensure esx_policejob
ensure inikordinat
ensure new_banking
ensure SemArmasReward
ensure esx-qalle-jail
ensure chat
ensure pNotify
ensure danny3_outlawalert
ensure handsup
ensure pedDensity
ensure pvp
ensure locking
ensure crouch-n-prone
ensure esx_jb_eden_garage2
ensure LegacyFuel
ensure sway_carhud
ensure jsfour-idcard
ensure esx_lscustom
ensure kr_pushvehicle
ensure esx_ktackle
ensure esx_mecanojob
ensure vSync
ensure esx_doorlock
ensure newscam
ensure RealisticVehicleFailure
ensure mythic_progbar
ensure esx_property
ensure esx-kr-advanced-shops
ensure crouch-n-prone
ensure esx_tattooshop
ensure esx_barbershop
ensure esx_accessories
ensure esx_gym
ensure esx_jobs
ensure esx_joblisting
ensure mhacking
ensure RichPresence
#ensure web_api
ensure 3dme
ensure progressBars
ensure np_selltonpc
ensure esx_AdvancedFishing
ensure esx_thief
ensure esx_clotheshop
ensure NoDriveBy
ensure EasyAdmin
ensure weaponry
ensure Lenzh_chopshop
ensure esx_vehicleInfos
ensure esx_taxijob
ensure esx_scoreboard
ensure dpemotes
ensure esx_vehiclelock
ensure Fivem_burglary
ensure PoliceVehiclesWeaponDeleter
ensure hatt
ensure scrubz_drugs
ensure esx_barbie_lyftupp
ensure heli
ensure esx_contract
ensure ifk_drug
ensure esx_vangelico_robbery
ensure rpv
#ensure SimpleCarHUD
ensure loffe_robbery
ensure esx_extraitems
ensure esx_crafting
ensure esx_hunting
ensure esx_duty
ensure discordbot
ensure esx_plasticsurgery
ensure nonpcdrop
ensure st-menu
ensure casas
ensure mapbuilder
ensure pk_propiedades
ensure texturas
ensure esx_policedog
ensure monster_invnotify
ensure StreetRaces
ensure carcontrol


#robbery
ensure mhacking
ensure esx_advancedbankrobberym

ensure tokovoip_script
ensure radio
ensure ls-radio

#maps
ensure gabz_pillbox_hospital
ensure prison-map-addon
ensure SLBK11_MissionRow
ensure missionrowgates
ensure bennysmap
ensure fivem-ipl
ensure bennysoutside

#peds
ensure swat
#ensure peds

#cars
ensure pcx
ensure m5
ensure lp610
ensure gtr
ensure g65amg
ensure fk8
ensure cbr2017
ensure camry55
ensure bdivo
ensure rmodpolice
ensure DodgeSamu
ensure mercedezsl
ensure r1


#prio
ensure 911sam
ensure i8kent
ensure dtdsenna
ensure fxx
ensure mclarenp1
ensure terzo
ensure m3
ensure sports

#set socket_port 30121
#set livemap_debug "warn" # "[all]" 'trace', 'debug', 'info', 'warn', 'error', 'fatal', 'off'
#set blip_file "server/blips.json"
#set livemap_access_control "*"

#start live_map

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "root-AQ" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

#EASYADMIN
setr ea_LanguageName "en"
setr ea_MenuButton "57"
setr ea_alwaysShowButtons "false"
set ea_moderationNotification "false"
set ea_custombanlist "false" 
set ea_enableCallAdminCommand "false"
set ea_enableReportCommand "true"

#EASYADMIN PERMISSION
add_ace group.moderator easyadmin.kick allow
add_ace group.moderator easyadmin.spectate allow
add_ace group.moderator easyadmin.ban allow
add_ace group.moderator easyadmin.unban allow
add_ace group.admin easyadmin allow

# Set your server's hostname
sv_hostname "Indofolks Roleplay"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace resource.uptime command.sets allow
add_ace group.admin command allow
add_ace group.admin command.quit deny # but don't allow quit
#add_principal identifier.fivem:1 group.admin # add the admin to the group
add_principal identifier.license:d4ff6a38b92b98d3b80d4f41bbb0622b059d7378 group.admin
add_principal identifier.license:44292180ed1286953e17e8e226b4359073e617c4 group.moderator
add_principal identifier.license:7332973aab2da35043fb96162657ffbdca8819e9 group.moderator 
add_principal identifier.license:91be536483b511daa6160ed03d588f3769600253 admin


# Hide player endpoints in external log output.
sv_endpointprivacy true

# enable OneSync with default configuration (required for server-side state awareness)
onesync_enabled 1

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "44D2DD124B8DA55197B2F653A96E2BD4"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey 	2u24s3lgt6q3x173nwg6ojrlirlk6pmg