html { overflow-x: hidden !important; overflow-y: hidden !important; background-color: transparent !important;}

body {background-color: transparent !important;}

.al-item {
     font-family:'Sarabun', sans-serif;
     position: absolute;
     bottom: 100px;
     right: 20px;
     width: 21%;
     margin-right: auto;
     margin-left: auto;
     float: right;
}

.card {
     background-color:rgba(223, 223, 223, 0.315);
}
.card-element{
     width: 110px;
     margin-right: 2700px;
}
.card-body{
     padding: 5px;
     color: white;
}

.al-item .al-item-header {
     background: rgba(0, 0, 0, 0.05);
     border:none;
     display: flex;
     height: 112px; /*132*/
}
.al-item .al-item-header .al-item-action {
     background:#fff;
     border-left:1px solid #000000;
     border-bottom:1px solid #5cdfaa;
     border-radius:4px 0 12px 0;
     color:rgb(128, 250, 189);
     min-width: 25px;
     font-size:12px;
     padding:5px 10px;
     position:absolute;
     left:0;
     top:0;
}
.al-item .al-item-header .add {
     background:#bef300;
     color:rgb(0, 0, 0);
}
.al-item .al-item-header .remove {
     background:#ff0000;
     color:#fff;
}
.al-item .al-item-header .use {
     background:rgb(0, 217, 255);
     color:rgb(0, 0, 0);
}
.al-item .al-item-img{
     flex-grow: 1;
}
.al-item .al-item-header img {
     width:80px;
}
.al-item .al-price-box .al-item-features {
     background: rgba(61, 61, 61, 0.753);
     color: #ffffff;
     font-size: 14px;
}
