@font-face {
    font-family: "MotorolaScreentype";
    src: url("MotorolaScreentype.woff") format("woff");
}

body {
    background-color: transparent;
    font-family: 'MotorolaScreentype', sans-serif;
}

main {
    bottom: 12%;
    display: none;
    position: absolute;
    left: 5%;
    width: 20em;
}

#display {
    bottom: 22.5%;
    color: #232428;
    font-size: 1.4em;
    height: 2.5em;
    left: 23%;
    position: absolute;
}

#radio-frame {
    width: 85%;
}